
.header-div {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 10rem;
}

#profile-picture{
    grid-column: 1/2;
    grid-row: 1/2;
    height: 100%;
}   

#name-title {
    align-self: center;
    justify-self: center;
    grid-column: 2/4;
}

.subtitle {
    padding: 0px 10px;
}

.comment{
    font-size: 80%;
    color: rgb(49, 49, 49);
}

.text-shadow {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.13), -1px -1px rgba(0, 0, 0, 0.13);
}

.border-shadow {
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5), -5px -5px 10px 0px rgba(0, 0, 0, 0.5);   
}

.color-box{
    background-color: #2596be;
    width: 400px;
    border-radius: 5%;
    padding: 30px 30px;
}

a {
    color: blue;
}

footer div p {
    text-align: center;
    font-size: 120%;
    color: white;
    margin: -5px 0px; 
}
footer div p + p {
    color: rgb(216, 216, 102);
    font-size: 100%;
    margin-top: 10px;
}

hr {
    width: 450px;
    margin: 0px;
}

