body main{
    display: flex;
    flex-direction: column;
}
img[data-src] {
    filter: blur(0.8em);
}

main div img {
    filter: blur(0em);
    transition: filter 1.5s;
    object-fit: cover;
    width: 500px;
    height: 300px;
}
