@media (min-width: 1008px){
    #weather-alert{
        display: none;
    }
    #logo-link{
        text-decoration: none;
        color: #4D4730;
        display: inline;
        grid-column: 1/2;
    }
    #logo-container{
        margin-top: -1.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position:relative;
        width: 100%;
    }
    .logo-text{
        position: absolute;
    }
    #logo-h1{
        font-size: 2rem;
        margin-top: 2rem;
        margin-bottom: 3rem;
    }
    #logo-h2{
        font-size: 1rem;
        margin-top: 4rem;
    }
    #logo-img{
        width: 100%;
    }
    
    /* Logo
    #logo-link{
        text-decoration: none;
        color: #4D4730;
        display: block;
    }
    #logo-container{
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 8vh 2vh 8vh;
    }
    #logo-h1{
        
        border: 0;
        grid-column: 2/3;
        grid-row: 1/2;
    }
    #logo-h2{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    #logo-container picture{
        grid-column: 1/2;
        grid-row: 1/4;
        
    }
    #logo-img{
        width: 20vh;
    } */

    #menuButton{
        display: none;
        position: absolute;
    }
    #navigation-div{
        display: grid;
        grid-template-columns: 20vw auto;
        grid-template-rows: 3rem 10rem auto;
    }
    #navigation-bar{
        grid-column: 2/3;
        grid-row: 2/4;
    }
    #menuList{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
    }
    #menuList a{
        display: inline-block;
        font-size: 1.5rem;
        text-decoration: none;
        color: #4D4730;
        font-weight: bold;
        transition: background-color 0.2s, box-shadow 0.2s;
     }
     #menuList a:hover{
        background-color: #fcd8576e;
        box-shadow: #fcd8576e 1px 1px 3rem 2rem;
    }
    

     /* Weather */
     #weather-div{
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 0.8rem;
        width: 100%;
        grid-column: 2/3;
        grid-row: 1/2;
        margin-top: 1rem;
    }
    .weather-icon-style{
        margin-right: 0.5rem;
        width: 1rem;
    }
    .weather-text-style{
        display: inline;
    }
    #weather-div h1{
        font-size: 1rem;
        margin: 0;
        
    }
    .weather-day-division{
        margin-bottom: 0.2rem;
    }

        /* Index - Main */
    #index-temple-information{
        display: flex;
        width: fit-content;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        border-radius: 15px;
        position: relative;
    }
    #index-temple-information p{
        /*width: 250px;*/
        margin: 0.5rem;
        text-align: center;
    }
    #index-temple-information h1{
        margin: 0;
        font-size: 2rem;
    }
    #index-temple-information img{
        box-shadow: #000000af 1px 1px 1rem 0.1rem;
        width: 60vw;
        height: 50vh;
        object-fit: cover;
        
    }
    #additional-temple-info{
        display: inline;
        width: 50vw;
        top: 8rem;
        position: absolute;
        color: rgb(0, 0, 0);
        opacity: 0;
        transition: opacity 0.3s, background-color 0.3s;
        font-size: 1.5rem;
    }
    #additional-temple-info:hover{
        display: inline;
        background-color: #4d473062;
        opacity: 1;
    }
    
    main{
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: auto;
    }
    #index-temple-information{
        grid-row: 2/3;
    }
    #reserve-now{
        grid-row: 1/2;
        position: relative;
        padding: 1rem;
    }
    #reserve-now a{
        position: absolute;
        right: 15vw;
        top: 4rem;
    }
    #reserve-button{
        padding: 0 1rem;
        border-radius: 5px;
        border: none;
        transition: opacity 0.5s;
        background-color: #fcd857af;
        font-size: 1.5rem;
    }
    #reserve-button:hover{
        opacity: 0.5;
        cursor: pointer;
    }
    #reserve-now img{
        width: 100%;
        height: 15rem;
        object-fit: cover;
        border-radius: 15px;
        filter: blur(2px);
        box-shadow: #000000af 1px 1px 1rem 0.1rem;
    }
    body{
        position: relative;
    }

    /* Footer */
    footer, header, main{
        background-color: #1f12083b;
        border-radius: 15px;
        margin: 1rem;
        padding: 1rem 0.2rem;
    }
    
    #socialmedia{
        display: flex;
        justify-content: space-around;
        align-items: baseline;
    }
    #socialmedia img{
        width: 2rem;
        margin: 0 5px;
    }
    #additional-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
        grid-column: 1/3;
    }
    #contact-info{
        display: flex;
        justify-content: space-around;
        align-items:baseline;
    }
    #contact-info h1{
        margin: 0;
        padding: 0;
        font-size: 1.3rem;
    }
    #contact-info p{
        margin-top: 0;
        font-weight: bold;
    }
    footer{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

        /* --- Temples --- */
.portrait{
    width: 10rem;
}
#temples-body{
    background-color: transparent;
}
#temples-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
#temples-container section{
    display: grid;
    grid-template-rows: 50vh auto;
    align-items: center;
    justify-items: center;
    text-align: center;
    border: #4D4730 1px solid;
    border-radius: 15px;
    margin: 0 0.5rem;
    background-color: #c473355d;
    position: relative;
}
#temples-container section h2:first-of-type{
    font-size: 2.5rem;
    color: #4D4730
}
#temples-container section p{
    margin-top: -1rem;
    margin-bottom: 2rem;
}
.like-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 1rem;
    top: -1rem;
}
.like-section button{
    border: none;
    background-color: transparent;
    font-size: 3rem;
    color: #4D4730;
    cursor: pointer;
    transition: opacity 0.2s;
}
.like-section button:hover{
    opacity: 0.5;
}
.like-section button.liked{
    color: red;
}
/* --- Reservations --- */ 
#reservation-page form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-self: center;
}
#personal-info{
    padding: 1rem;
    grid-column: 1/2;
}
#reservation-info{
    padding-left: 1rem;
    grid-column: 2/3;
}
#reservation-info label{
    display: block;
    margin-top: 1rem;
}
.radio~p{
    display: inline;
}
#rooms-paragraph{
    margin-bottom: -0.5rem;
}
#submitBtn{
    margin-top: 1rem;
    background-color: transparent;
    border: #4D4730 1px solid;
    border-radius: 15px;
    font-size: 1.5rem;
    padding: 0.5rem;
    transition: background-color 0.2s;
}
#submitBtn:hover{
    background-color: #fcd857af;
    cursor: pointer;
}
#reservation-page h1{
    text-align: left;
    text-decoration: underline;
}
}